@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-sb-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin hover-scale {
    :hover {
        transform: scale(1.3); 
    }
}
@mixin hover-text-ligth {
    :hover {
        color: $darkTextColor;
        transition: 0.3s;
    }
}