$creamCan: #F2C94C;
$mediumPurple: #8071DC;
$mineShaft: #323232;
$Roboto: 'Roboto', sans-serif;
$PT: 'PT Sans', sans-serif;

$lightTextColor: $creamCan;
$darkTextColor: $mediumPurple;
$bgDark: $mineShaft;
$fontMain: $PT;
$fontSec: $Roboto;
$btnLight: $creamCan;

